body{
    margin:0;
}

#containerHeader{
    height: 70px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#boxLogo{
    margin-left: 120px;
}

#boxProdutos{
    margin-right: 105px;
    display: flex;
    flex-direction: row;
}

#logoMarca{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: black;
}

.barraNav{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 15px;
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    color: #828282;
    list-style-type: none;
    cursor: pointer;
    transition: 0.5s;
}

.todosProdutosNav{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 15px;
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
    list-style-type: none;
    transition: 0.5s;
}

.todosProdutosNav:hover{
    display: flex;
    flex-direction: row;
    color: #6B54DE;
    font-size: 20px;
    transition: 0.5s;
}

.barraNav:hover{
    color: #6B54DE;
    font-size: 18px;
    transition: 0.5s;
}

main{
    display: flex;
    justify-content: space-between;
}

#secaoPrincipal{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-bottom: 50px;
    justify-content: space-between;
}

#cardProduto{
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: 2px solid #f5f5f5;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    
}

#cardProduto:hover{
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(60, 20, 60, 50);
              box-shadow: 0 0 0 0 rgba(60, 20, 60, 50);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(60, 20, 60, 0.35);
              box-shadow: 0 0 20px 0px rgba(60, 20, 60, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(60, 20, 60, 50);
              box-shadow: 0 0 0 0 rgba(60, 20, 60, 50);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(60, 20, 60, 0.35);
              box-shadow: 0 0 20px 0px rgba(60, 20, 60, 0.35);
    }
  }
  
#containerImagem{
    height: 160px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
}

.categoriaProduto{
    width: 70px;
    height: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #2E245E;
    font-size: 12px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

#containerInformacaoProduto{
    margin-left: 8px;
    margin-right: 5px;
    font-family: 'Inter', sans-serif;
}

#tituloProduto{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}
#descricaoBreve{
    font-size: 12px;
    color: #828282;
}

#containerPreco{
    display: flex;
}

.valorProduto, .cifrao{
    font-size: 12px;
    font-weight: 600;
    color: #2E245E;
}

.botaoAdicionarCarrinho{
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    padding: 0;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}

.botaoAdicionarCarrinho:hover{
    font-size: 16px;
    color: #333333;
    transition: 0.5s;
}

#conteudoLateral{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

#containerBarraLateral{
    width: 350px;
    height: 340px;
    margin-top: 25px;
    margin-right: 40px;
    margin-left: 20px;
}

#containerPesquisar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#pesquisar{
    width: 245px;
    height: 50px;
    background-color: #f5f5f5;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
}

#botaoPesquisar{
    width: 95px;
    height: 50px;
    background-color: #6B54DE;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#carrinhoCompras{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#6B54DE;
    border: 1px solid #6B54DE;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-align: center;
}

#boxCarrinho{
    display: flex;
    flex-direction: column;
    height: 340px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.boxTextosCarrinhoVazio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 340px;
}

.containerMiniCardProduto{
    width: auto;
    height: 70px;
    display: flex;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.containerImagemMiniCard{
    display: flex;
    width: 80px;
    margin-right: 18px;
}

.imagemCarrinho{
    max-width: 80px;
}

.containerInformarcaoMiniCardProduto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.tituloProdutoMiniCard{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin: 0px;
    margin-left: 6px;
}

#containerValorMiniCard{
    display: flex;
    margin-left: 6px;
}

.cifraoMiniCard, .valorMiniCard{
    font-size: 12px;
    font-weight: 600;
    color: #2E245E;
    margin: 0;
}

.removerProduto{
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 400px;
    color: #828282;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}

.removerProduto:hover{
    font-size: 13px;
    color: black;
    transition: 0.5s;
}

.carrinhoVazio{
   font-family: 'Inter', sans-serif;
   font-size: 22px;
   font-weight: 700;
   color: #333333;
   margin: 0; 
}

.adicioneItens{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    margin: 2px;
}

#boxValorTotal{
    width: 350px;
    height: 125px;
    margin-top: 1px;
    background-color: #333333;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#containerValorTotal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8px;
    color: #828282;
    font-size: 16px;
    margin-bottom: 5px;
}

#containerPreco{
    display: flex;
}
.textoValores{
    margin: 0;
    margin-top: 10px;
}

#textoValorTotal{
    margin-left: 10px;
}

#valorTotal{
    width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

#botaoFinalizarCompra{
    width: 350px;
    height: 50px;
    margin-top: 2px;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    background-color: transparent;
    border: 1px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

#botaoFinalizarCompra:hover, #botaoFinalizarCompra:focus {
    color: #fff;
    outline: 0;
  }

#botaoFinalizarCompra {
    border-color: #6B54DE;
    border-radius: 0;
    color: #6B54DE;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}

#botaoFinalizarCompra:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #6B54DE;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 0.5s ease-in-out;
}

#botaoFinalizarCompra:hover {
    color: #fff;
}

#botaoFinalizarCompra:hover:after {
    width: 110%;
}

.apagar{
    display:none;
}
